<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <defaultConnection>Data Source=|DataDirectory|store.db</defaultConnection>
    </connectionStrings>
    <frontEndUrl>http://localhost:5000</frontEndUrl>
    <serverBindingUrl>http://0.0.0.0:5000</serverBindingUrl>
    <logging>
        <includeScopes>false</includeScopes>
        <logLevel>
            <default>Debug</default>
            <system>Warning</system>
            <microsoft>Warning</microsoft>
        </logLevel>
    </logging>
    <webClientPath>../client-react</webClientPath>
    <jwt>
        <key>2af4ff57-4ca0-4b3a-804b-178ad27aaf88</key>
        <issuer>airbreath</issuer>
    </jwt>
    <email>
        <smtpConfig>:@localhost:1025</smtpConfig>
        <enableSSL>false</enableSSL>
        <emailFromName>airbreath</emailFromName>
        <emailFromAddress>noreply@airbreath.com</emailFromAddress>
    </email>
</configuration>
